.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    gap: 90px;
    list-style: none;
    align-items: center;
    font-size: 18px;
}

.nav-contact{
    border-radius: 50px;
    background: white;
    padding: 10px 38px;
    color: black;
}